// alignment
.align-right {
	text-align:right;
	margin-left:auto;
}
.align-left {
	text-align:left;
}
.align-center {
	text-align:center;
}	
.no-margin {
	margin-bottom:0;
}

// hide 
.hidden {
	display:none;
}

// margin bottom
.add-margin {
	margin-bottom:vr(1);
}

.half-margin {
	margin-bottom:vr(0.5);
}

.add-large-margin {
	margin-bottom:vr(3);
}

.no-margin {
	margin-bottom:0;
}

// other margins

.auto-x-margin {
	margin-right:auto;
	margin-left:auto;
}

// overflow

.no-overflow, .no-scroll {
	overflow:hidden;
}

.modal-open {
	overflow:hidden;
}

// textwrap
.nowrap {
	white-space:nowrap;
}

.text-overflow {
	text-overflow:ellipsis;
	overflow:hidden;
}

// text overflow

.no-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: inline-block;
}


.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}


@include breakpoint(xs) {

	// alignment
	.align-right-xs {
		text-align:right;
		margin-left:auto;
	}
	.align-left-xs {
		text-align:left;
	}
	.align-center-xs {
		text-align:center;
	}	
	.no-margin-xs {
		margin-bottom:0;
	}

	// hide 
	.hidden-xs {
		display:none;
	}

	// margin bottom
	.add-margin-xs {
		margin-bottom:vr(1);
	}

	.half-margin-xs {
		margin-bottom:vr(0.5);
	}

	.add-large-margin-xs {
		margin-bottom:vr(3);
	}

	.no-margin-xs {
		margin-bottom:0;
	}

	// other margins

	.auto-x-margin-xs {
		margin-right:auto;
		margin-left:auto;
	}

	// overflow

	.no-overflow-xs {
		overflow:hidden;
	}

	// textwrap
	.nowrap-xs {
		white-space:nowrap;
	}

	// text overflow

	.no-text-overflow-xs {
	    overflow: hidden;
	    text-overflow: ellipsis;
	    max-width: 100%;
	    display: inline-block;
	}

}


@include breakpoint(sm) {

	// alignment
	.align-right-sm {
		text-align:right;
		margin-left:auto;
	}
	.align-left-sm {
		text-align:left;
	}
	.align-center-sm {
		text-align:center;
	}	
	.no-margin-sm {
		margin-bottom:0;
	}

	// hide 
	.hidden-sm {
		display:none;
	}

	// margin bottom
	.add-margin-sm {
		margin-bottom:vr(1);
	}

	.half-margin-sm {
		margin-bottom:vr(0.5);
	}

	.add-large-margin-sm {
		margin-bottom:vr(3);
	}

	.no-margin-sm {
		margin-bottom:0;
	}

	// other margins

	.auto-x-margin-sm {
		margin-right:auto;
		margin-left:auto;
	}

	// overflow

	.no-overflow-sm {
		overflow:hidden;
	}

	// textwrap
	.nowrap-sm {
		white-space:nowrap;
	}

	// text overflow

	.no-text-overflow-sm {
	    overflow: hidden;
	    text-overflow: ellipsis;
	    max-width: 100%;
	    display: inline-block;
	}

}


@include breakpoint(md) {

	// alignment
	.align-right-md {
		text-align:right;
		margin-left:auto;
	}
	.align-left-md {
		text-align:left;
	}
	.align-center-md {
		text-align:center;
	}	
	.no-margin-md {
		margin-bottom:0;
	}

	// hide 
	.hidden-md {
		display:none;
	}

	// margin bottom
	.add-margin-md {
		margin-bottom:vr(1);
	}

	.half-margin-md {
		margin-bottom:vr(0.5);
	}

	.add-large-margin-md {
		margin-bottom:vr(3);
	}

	.no-margin-md {
		margin-bottom:0;
	}

	// other margins

	.auto-x-margin-md {
		margin-right:auto;
		margin-left:auto;
	}

	// overflow

	.no-overflow-md {
		overflow:hidden;
	}

	// textwrap
	.nowrap-md {
		white-space:nowrap;
	}

	// text overflow

	.no-text-overflow-md {
	    overflow: hidden;
	    text-overflow: ellipsis;
	    max-width: 100%;
	    display: inline-block;
	}

}


@include breakpoint(lg) {

	// alignment
	.align-right-lg {
		text-align:right;
		margin-left:auto;
	}
	.align-left-lg {
		text-align:left;
	}
	.align-center-lg {
		text-align:center;
	}	
	.no-margin-lg {
		margin-bottom:0;
	}

	// hide 
	.hidden-lg {
		display:none;
	}

	// margin bottom
	.add-margin-lg {
		margin-bottom:vr(1);
	}

	.half-margin-lg {
		margin-bottom:vr(0.5);
	}

	.add-large-margin-lg {
		margin-bottom:vr(3);
	}

	.no-margin-lg {
		margin-bottom:0;
	}

	// other margins

	.auto-x-margin-lg {
		margin-right:auto;
		margin-left:auto;
	}

	// overflow

	.no-overflow-lg {
		overflow:hidden;
	}

	// textwrap
	.nowrap-lg {
		white-space:nowrap;
	}

	// text overflow

	.no-text-overflow-lg {
	    overflow: hidden;
	    text-overflow: ellipsis;
	    max-width: 100%;
	    display: inline-block;
	}

}



@include breakpoint(xl) {

	// alignment
	.align-right-xl {
		text-align:right;
		margin-left:auto;
	}
	.align-left-xl {
		text-align:left;
	}
	.align-center-xl {
		text-align:center;
	}	
	.no-margin-xl {
		margin-bottom:0;
	}

	// hide 
	.hidden-xl {
		display:none;
	}

	// margin bottom
	.add-margin-xl {
		margin-bottom:vr(1);
	}

	.half-margin-xl {
		margin-bottom:vr(0.5);
	}

	.add-large-margin-xl {
		margin-bottom:vr(3);
	}

	.no-margin-xl {
		margin-bottom:0;
	}

	// other margins

	.auto-x-margin-xl {
		margin-right:auto;
		margin-left:auto;
	}

	// overflow

	.no-overflow-xl {
		overflow:hidden;
	}

	// textwrap
	.nowrap-xl {
		white-space:nowrap;
	}

	// text overflow

	.no-text-overflow-xl {
	    overflow: hidden;
	    text-overflow: ellipsis;
	    max-width: 100%;
	    display: inline-block;
	}

}

@include breakpoint(xxl) {

	// alignment
	.align-right-xxl {
		text-align:right;
		margin-left:auto;
	}
	.align-left-xxl {
		text-align:left;
	}
	.align-center-xxl {
		text-align:center;
	}	
	.no-margin-xxl {
		margin-bottom:0;
	}

	// hide 
	.hidden-xxl {
		display:none;
	}

	// margin bottom
	.add-margin-xxl {
		margin-bottom:vr(1);
	}

	.half-margin-xxl {
		margin-bottom:vr(0.5);
	}

	.add-large-margin-xxl {
		margin-bottom:vr(3);
	}

	.no-margin-xxl {
		margin-bottom:0;
	}

	// other margins

	.auto-x-margin-xxl {
		margin-right:auto;
		margin-left:auto;
	}

	// overflow

	.no-overflow-xxl {
		overflow:hidden;
	}

	// textwrap
	.nowrap-xxl {
		white-space:nowrap;
	}

	// text overflow

	.no-text-overflow-xxl {
	    overflow: hidden;
	    text-overflow: ellipsis;
	    max-width: 100%;
	    display: inline-block;
	}

}
