:root {
	--baseline: 1.5rem;
	@include line-height(1);

}

body, html {
	@include line-height(1);
}

* {
	
}
// body {
//     position:relative;
// }
// body::after {
//     display:block;
//     width:100%;
//     height:100%;
//     position:absolute;
//     content:"";
//     top:0;
//     left:0;
//     z-index: 500;
//     background-image: repeating-linear-gradient(to bottom, transparent 0px, transparent calc(var(--baseline) - 1px), red calc(var(--baseline) - 1px), red var(--baseline));
//     pointer-events: none;
//     opacity:0.3;
// }
// body:hover:after {
//    // display:none;
// }



html {
	font-size:16px;
	@include breakpoint(md) {
		font-size:18px;
	}
	@include breakpoint(xl) {
		font-size:20px;
	}
}

::selection {
  background: black;
  color:#FFFFFF;
}

body {
	font-weight:400;
}

* {
	-webkit-font-smoothing: antialiased; /* This needs to be set or some font faced fonts look bold on Mac in Chrome/Webkit based browsers. */
	-moz-osx-font-smoothing: grayscale; /* Fixes font bold issue in Firefox version 25+ on Mac */
}

p, ul {
	margin-bottom:vr(1);
	&.small, small {
		font-size:0.8rem;
	}
	&.big, big {
	}
	&.tiny, .tiny, &.caveat, .caveat {
		font-size:0.75rem;
		@include breakpoint(lg) {
			font-size:0.66rem;
		}
	}
	&.alert {
	
	}
	.dropcap {
		
		
	}
	a[target="_blank"]::after {
		display:inline;
		height:24px;
		width:24px;
		content:"";
		vertical-align:middle;
		background-image:url('~/assets/images/other/ext-link-blue.png');
		background-size:24px;
		background-repeat:no-repeat;
		background-position:center;
		position:relative;
		margin-left:2px;
		top:-1px;
	}
	&.small a[href*='//']::after {
		//background-size:12px;
	}
	&.large {
		//font-size:18px;
	}
}


strong {
	font-weight:bolder;
}

em {
	font-style:italic;
}



p, ul, ol, h1, h2, h3, h4, h5, h6 {
	a:link, a:visited {
		&:hover {
			
		}
	}
}

h6 {
	font-size:1rem;
	margin-bottom:vr(1);
	@include breakpoint(lg) {
		font-size:0.8rem;
	}
}

h5, .h5 {
	font-size:1rem;
	margin-bottom:vr(1);
	@include breakpoint(xl) {
		font-size:0.8rem;
	}
}

h4 {
	margin-bottom:vr(1);
	font-size:1.1rem;
	@include breakpoint(xl) {
		font-size:1.1rem;
	}
}

h3 {
	font-variant-ligatures: discretionary-ligatures;
	margin-bottom:vr(1);
	font-size:1.8rem;
	@include line-height(1.5);
	@include breakpoint(lg) {
		
	}
}


h2 {
	font-variant-ligatures: discretionary-ligatures;
	margin-bottom:vr(1);
	font-size:2.4rem;
	@include line-height(2);
	@include breakpoint(md) {
		font-size:2.5rem;
		@include line-height(2);
		
	}
	@include breakpoint(xl) {
		
	}
}


h1 {
	font-variant-ligatures: discretionary-ligatures;
	margin-bottom:vr(1);
	font-size: 2.5rem;
	@include line-height(2);
	@include breakpoint(md) {
		font-size: 3rem;
		@include line-height(2.5);
	}
	@include breakpoint(xxl) {
		font-size: 3.8rem;
		@include line-height(3);
	}
	@include breakpoint(xl) {
		
	}
}


sub, sup {
	vertical-align: super;
  	position: relative;
  	font-size: 0.5em;
  	line-height:0;
}

sub {
	vertical-align: sub;
}






